.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 16px;

    justify-content: center;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 150px);
    }
}
