/* You can add global styles to this file, and also import other style files */

.text-center {
    text-align: center;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}
